@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;

0,700;1,300&display=swap);@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  min-width: 500px;
  margin: auto;
}

header {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

body {
  font-family: "Open Sans", sans-serif;
}

.current-series,
.load-more {
  font-family: "Open Sans Condensed", sans-serif;
}

.txt-uc {
  text-transform: uppercase;
}

.cl-bk {
  color: black;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header .container .header-left {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .container .header-left .logo {
  width: 60px;
  height: 60px;
}

header .container .header-left .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .container .header-right {
  text-transform: uppercase;
  height: 80px;
}

header .container .header-right ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header .container .header-right ul li {
  margin: 0px 2px;
  height: 100%;
  line-height: 80px;
}

header .container .header-right ul li a {
  color: #222;
  height: 100%;
  padding: 0px 8px;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
  border-bottom: 5px solid transparent;
}

header .container .header-right ul li a.active,
header .container .header-right ul li a:hover {
  border-bottom: 5px solid #0081f8;
  color: #0081f8;
}

#jumbotron {
  min-height: 450px;
  width: 100%;
  background-image: url("/images/jumbotron.jpg");
  background-position: top;
}

main {
  background-color: #222;
  color: #fff;
}

main .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding: 50px 0px;
}

main .container .current-series {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #0081f8;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: bold;
}

main .container .main-card {
  width: calc(16.6666666667% - 20px);
  height: 250px;
  margin: 10px;
}

main .container .main-card .card-img {
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
}

main .container .main-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .container .main-card .card-text {
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 0px 2px;
}

main .container .main-card .card-text a {
  text-decoration: none;
  color: #fff;
}

main .container .main-card .card-text a:hover {
  text-decoration: underline;
}

main .container .load-more {
  display: inline-block;
  background-color: #0081f8;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 60px;
  margin-top: 30px;
  cursor: pointer;
}

main .container .load-more:hover {
  filter: saturate(2);
  transform: scale(1.1);
}

#links-section {
  background-color: #0081f8;
}

#links-section .container {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

#links-section .container .link-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
}

#links-section .container .link-card .card-img {
  width: 40px;
  height: 40px;
}

#links-section .container .link-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-top {
  width: 100%;
  height: 300px;
  min-height: 300px;
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(0.8);
}

.footer-top .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-top .container .ft-top-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-top .container .ft-top-right {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.footer-top .container .ft-top-right .footer-dc-logo {
  width: 100%;
  height: 100%;
}

.footer-top .container .ft-top-right .footer-dc-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleY(1.1);
}

.footer-bottom {
  background-color: #333333;
  height: 80px;
}

.footer-bottom .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.footer-bottom .ft-btn {
  width: 50%;
}

.footer-bottom .ft-btn a {
  display: inline-block;
  border: 3px solid #0081f8;
  padding: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-bottom .ft-social {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer-bottom .ft-social span {
  text-transform: uppercase;
  color: #0081f8;
  font-weight: bold;
  margin: 0px 30px;
}

.ft-list-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
  display: inline-block;
}

ul {
  list-style-type: none;
}

ul li a {
  color: #9e9e9e;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: capitalize;
}

ul li a:hover {
  color: #fff;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#comic-page {
  background-color: white;
  color: #222;
  font-size: 0.8em;
  position: relative;
}

#comic-page .img-float {
  position: absolute;
  width: 150px;
  top: -200px;
  left: 10%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}

#comic-page .img-float img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#comic-page .img-float .gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 0px;
  color: #fff;
}

#comic-page .img-float .comic-book {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 0px 3px;
  background-color: #0081f8;
}

#comic-page .divider {
  width: 100%;
  height: 80px;
  background-color: #0081f8;
}

#comic-page .container {
  justify-content: start;
}

#comic-page .container h1 {
  text-transform: uppercase;
}

#comic-page .container .overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
}

#comic-page .container .overview p {
  padding: 0rem 0.2rem;
}

#comic-page .container .overview-left {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#comic-page .container .overview-left .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0rem;
  height: 50px;
  background-color: #55BA59;
  color: #fff;
  font-weight: bold;
}

#comic-page .container .overview-left .price span {
  color: #87EB92;
}

#comic-page .container .overview-left .price .price-left {
  min-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
}

#comic-page .container .overview-left .price .price-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid black;
  height: 100%;
  padding: 0px 8px;
}

#comic-page .container .overview-left .price .price-right select {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

#comic-page .container .overview-right {
  width: 30%;
  padding: 1rem;
  text-align: right;
}

#comic-page .container .overview-right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

#comic-page .container .overview-right span {
  margin-bottom: 2px;
  font-weight: bold;
  color: #9e9e9e;
}

#comic-page .desc {
  padding: 1rem 0rem 5rem 0rem;
  background-color: #F6F6F6;
}

#comic-page .desc a {
  text-decoration: none;
}

#comic-page .desc a:hover {
  text-decoration: underline;
}

#comic-page .desc .container {
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
}

#comic-page .desc .container .desc-left,
#comic-page .desc .container .desc-right {
  width: 50%;
  line-height: 50px;
  padding: 0rem 0.5rem;
}

#comic-page .desc .container .desc-left .artist,
#comic-page .desc .container .desc-left .writers,
#comic-page .desc .container .desc-left .line,
#comic-page .desc .container .desc-right .artist,
#comic-page .desc .container .desc-right .writers,
#comic-page .desc .container .desc-right .line {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

